# Configurações de Banco de Dados (Produção)
DB_ROOT_PASSWORD=alterar_por_favor
DB_NAME=money_manager
DB_USER=manager_user
DB_PASS=senha_forte_aqui

# Configurações de Frontend (Produção)
VITE_API_BASE_URL=https://sua-api.com
